@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Racing";
    src: url("fonts/RacingSansOne-Regular.ttf") format("ttf");
}

@layer components{
    .catalogo{
       @apply p-1 text-center flex flex-col;
       height: 550px;
    }
   .card-jogo{
    @apply bg-cover bg-top rounded-lg p-2 flex justify-end items-end cursor-default h-96;
   }

   .descricao{
    @apply opacity-0 bg-black/80 group-hover/jogo:opacity-90 h-auto transition ease-in duration-200 flex flex-col justify-center items-center rounded-lg
   }

   .btn-jogo{
    @apply flex justify-center items-center bg-black/90 py-3 px-5 rounded-lg hover:shadow-md hover:shadow-black hover:brightness-150 transition ease-in duration-200 text-white mt-2 mb-5
   }

   .card-canal{
    @apply bg-cover bg-center rounded-lg p-2 flex justify-center cursor-pointer h-96;
   }

   .nome-canal{
    @apply opacity-90 w-10/12 bg-black/80  h-16 transition ease-in duration-200 flex flex-col justify-center items-center  rounded-lg
   }
}